/* -------------------------------
   styles.css (Main Entry File)
---------------------------------*/

:root {
   --color-dark-blue: #003049;
   --color-red: #d62828;
   --color-orange: #f77f00;
   --color-yellow: #fcbf49;
   --color-cream: #eae2b7;
   --font-heading: 'Playfair Display', serif;
   --font-body: 'Inter', sans-serif;
}

/* Typography */
h1,
h2,
h3 {
   font-family: var(--font-heading);
}

body,
p,
a,
button,
input {
   font-family: var(--font-body);
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: white;
   color: #111;
   line-height: 1.6;
}
